<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <link rel="icon" href="https://img.icons8.com/color/48/000000/spring-logo.png"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>User page</title>
</head>

<body style="background-color: #f8f9fa">

<!--Шапка-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark static-top">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <a style="color: white;text-align: left;">
            <strong>
              <th:block th:each="user:${user}" th:text="${user.getUsername()}"></th:block>
            </strong>
            <th:block th:each="user:${user}" th:text="'with roles: '+ ${user.getRolesView}"></th:block>
          </a>


          <ul class="navbar-nav ml-md-auto">

            <li class="nav-item active">

              <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!--Левая панель-->

  <br>
  <div class="row">
    <div class="col-md-2" style="background-color: white" >

      <ul class="nav flex-column nav-pills" >
        <li class="nav-item" >
          <a class="nav-link " href="/admin">Admin</a>
        </li>
        <li class="nav flex-column nav-pills">
          <a class="nav-link active" >User</a>
        </li>

      </ul>
    </div>


    <!--Правая панель-->
    <div class="col-md-10">
      <!--Заголовок страницы-->
      <div class="page-header">
        <h2>
          User information-page
        </h2>
      </div>
      <!--Панель навигации-->



      <!--            Заголовок таблицы-->
      <h5 style="margin: 10px">
        About user
      </h5>

      <!--Таблица-->
      <table class="table table-hover" style="background-color: white">
        <!--Шапка таблицы-->
        <thead>

        <tr>
          <th style="text-align: center;"> ID </th>
          <th style="text-align: center;"> First Name </th>
          <th style="text-align: center;"> Last Name </th>
          <th style="text-align: center;"> Age </th>
          <th style="text-align: center;"> Email</th>
          <th style="text-align: center;"> Role </th>

        </tr>
        </thead>
        <!--Тело таблицы-->
        <tbody>
        <tr th:each="user:${user}">
          <td th:text="${user.getId()}" style="text-align: center;">ID </td>
          <td th:text="${user.getFirstName()}" style="text-align: center;"> Admin name </td>
          <td th:text="${user.getLastName()}" style="text-align: center;"> Admin LastName </td>
          <td th:text="${user.getAge()}" style="text-align: center;"> Admin age </td>
          <td th:text="${user.getUsername()}" style="text-align: center;"> Admin Email </td>
          <td th:text="${user.getRolesView()}" style="text-align: center;"> Role </td>

        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>


